%montserrat-500 {
    font-family: "Montserrat-Medium", sans-serif;
    font-weight: 500;
}

%montserrat-700 {
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: 700;
}

$hover: #F47983;
$accent: #D0114D;
$default: #E4E3E5;
